.feature {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
  color: #232323;

  /* Montserrat/Caption/SemiBold */
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.4px;
  padding: 8px;
  padding-left: 36px;
  border-radius: 8px;
}
